<div>
  <div style="position: relative; border-top-left-radius: 10px; border-top-right-radius: 10px; height: 190px; display: flex; align-items: center; justify-content: center; background-color: rgba(35, 159, 248, 1);">
    <span style="text-align: center; font-size: 25px; width: 220px; color: #fff;">Tu reserva está confirmada!</span>
    <div style="display: flex; align-items: center; justify-content: center; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; bottom: -30px; background-color: #fff; width: 60px; height: 60px; box-shadow: 0px 1px 2px 0px #1018280F; box-shadow: 0px 1px 5px 0px #1018281A; border-radius: 100%;">
      <img src="https://api.mariluz.hub2b.travel/media/email_green_logo.png" alt="logo" style="font-size: 40px; height: auto; width: 40px;" />
    </div>
  </div>
  <div style="background-color: #fff; padding: 30px; padding-top: 50px; padding-bottom: 0;">
    <div style="margin-bottom: 30px; display: flex; justify-content: space-between; align-items: center;">
      <div style="position: relative; width: 190px;">
        <img src="https://api.mariluz.hub2b.travel/media/logo-mariluz.png" alt="logo" style="width: 100%;" />
        <img src="https://api.mariluz.hub2b.travel/media/hub_tag.jpg" alt="logo" style="position: absolute; bottom: -8px; right: -15px; transform: rotate(-20deg); border-radius: 30%; width: 35px;" />
      </div>
      <div>
        <span style="font-size: 18px; font-weight: 600;">Localizador de reserva 29201-AC1</span>
      </div>
    </div>
    <div style="text-align: start; padding: 1rem; border: 2px solid transparent; min-height: 500px;">
      TEXTO ESTÁTICO
    </div>
  </div>
  <div style="background-color: #fff; padding: 30px;">
    <div style="display: flex; flex-direction: column; align-items: start; gap: 1.5rem;">
      <div style="position: relative; width: 190px;">
        <img src="https://api.mariluz.hub2b.travel/media/logo-mariluz.png" alt="logo" style="width: 100%;" />
        <img src="https://api.mariluz.hub2b.travel/media/hub_tag.jpg" alt="logo" style="position: absolute; bottom: -8px; right: -15px; transform: rotate(-20deg); border-radius: 30%; width: 35px;" />
      </div>
      <span style="font-size: 18px; font-weight: 600;">Departamento de reservas</span>
      <div style="display: flex; gap: 3rem; align-items: center">
        <span style="font-size: 14px;">E: info@it2b.es | W: it2b.es</span>
        <div style="display: flex; gap: 1.5rem;">
          <a href="https://www.instagram.com/mariluz.travel/" target="_blank">
            <img src="https://api.mariluz.hub2b.travel/media/instagram.svg" />
          </a>
          <a href="https://www.facebook.com/mariluztravel" target="_blank">
            <img src="https://api.mariluz.hub2b.travel/media/facebook.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>