<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block stylesheets %}
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #333333;
      }
      .main-container + .main-container {
        page-break-before: always;
      }
      h1 {
        margin: 0 0 5px;
      }
      h3 {
        margin: 0 0 10px;
      }
      .content {
        padding: 15px 0;
      }
      .content > table {
        padding: 20px;
        border: 2px solid #f2f2f2;
        border-radius: 5px;
      }
      thead > tr th {
        padding: 0 0 10px;
        border-bottom: 2px solid #ca0305;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
      }
      .table-subheading {
        font-size: 11px;
        font-weight: normal;
        text-align: left;
        text-transform: uppercase;
      }
      thead + tbody > tr:first-child > td,
      .group-table td {
        padding-top: 10px;
      }
      thead + tbody tbody th,
      thead + tbody tbody:not(.enrollments) td {
        padding: 3px 0 !important;
      }
      .enrollments td {
        padding: 5px;
      }
      .enrollments tr:not(:last-child) td {
        border-bottom: 1px solid #f2f2f2;
      }
    </style>
    {% endblock %}

    <title>{% trans %}Justificante de inscripción{% endtrans %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>