<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEST</title>
</head>

<style>

	html,body {
        height: 100%;
        margin: 0;
    }

	tr.spaceUnder>td {
		padding-bottom: 1em;
	}

	.shadow {
		border: 2px solid black;
		box-shadow: rgb(0, 0, 0) 5px 5px;
	}

	.divisor {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #000;
	}

	.line {
		content: '';
		width: 100%;
		margin-bottom: .25rem;
		border-bottom: 1px solid #000;
	}

	.content {
		height: 1060px;
	}

	.black-box {
		border: 2px solid black;
		text-align: center;
		padding: .5rem 1rem;
	}

</style>
<body>

<div id="container">
	<div class="content">
		<table width="100%">
			<tbody>
				<tr class="spaceUnder">
					<td colspan="3" style="text-align: center">
						<img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-mariluz.png" alt="logo" style="width: 250px;">
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div>
							<h1>Factura</h1>
						</div>
					</td>
				</tr>
				<tr class="spaceUnder">
					<td>
						<div>
							<span>Número / Number</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>24A0031609 / 1</strong>
						</div>
						<div>
							<span>Fecha / Date</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>14/03/2024</strong>
						</div>
						<div>
							<span>Expediente / File</span>
						</div>
						<div>
							<strong>000034702</strong>
						</div>
					</td>
					<td style="padding-right: 2rem;vertical-align: top">
						<div style="margin-bottom:.5rem">
							<strong>JOYFER JARDINES S.L</strong>
						</div>
						<div style="margin-bottom:.5rem">
							<span>C/ Son Muntaner 71 bajos</span>
						</div>
						<div style="margin-bottom:.5rem">
							<span>07013 Palma de Mallorca</span>
						</div>
					</td>
					<td style="width: 300px;vertical-align: top">
						<div>
							<span>CIF</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>B09809492</strong>
						</div>
					</td>
				</tr>
				<tr class="spaceUnder">
					<td style="width: 250px;">
						<div class="black-box">
							<strong>
								Fecha / Date
							</strong>
						</div>
					</td>
					<td style="width: 500px;">
						<div class="black-box">
							<strong>
								Concepto / Concept
							</strong>
						</div>
					</td>
					<td>
						<div class="black-box">
							<strong>
								Importe / Amount
							</strong>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width: 250px;padding:1rem">
						<div style="text-align:center">
							<span>
								29/03/2024 - 31/03/2024
							</span>
						</div>
					</td>
					<td style="width: 500px;padding:1rem">
						<div>
							<span>
								OFERTA POLLENSA PARK 4*
							</span>
						</div>
						<div>
							<span>
								4 ADU
							</span>
						</div>
						<div>
							<span>
								Pax. FELIX CAMARA Rég TI
							</span>
						</div>
						<div>
							<span>
								4  Pax TI/AI x 80.00 x 2 d. = 640.00
							</span>
						</div>
						<div>
							<strong>
								Régimen Especial de las Agencias de Viajes (Impuestos no deducibles)
							</strong>
						</div>
					</td>
					<td>
						<div style="padding:1rem;text-align:center">
							<strong>
								640.00
							</strong>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="recount">
		<table width="100%">
			<tbody>
				<tr>
					<td style="padding-bottom: 3rem">
						<div style="padding-bottom: 1rem;padding-right: 1rem">
							<span>CAIXA BANK IBAN ES18 2100 8122 8313 0049 0357</span>
						</div>
						<div style="font-size:14px">
							<span>Forma de Pago / Payment:</span>
						</div>
						<div style="font-size:14px">
							<span>Transferencia</span>
						</div>
					</td>
					<td style="width: 125px;padding-bottom: 3rem;font-size:12px;padding-right:1rem">
						<div style="text-align:center">
							<div>
								<strong>Importe Prepagado / Pre-paid Amount</strong>
							</div>
							<div class="line"></div>
							<div>
								<strong>640.00 Eur</strong>
							</div>
						</div>
					</td>
					<td style="width: 125px;padding-bottom: 3rem;font-size:12px;padding-right:1rem">
						<div style="text-align:center">
							<div>
								<strong>Pendiente Cobro / Balance Due</strong>
							</div>
							<div class="line"></div>
							<div>
								<strong>640.00 Eur</strong>
							</div>
						</div>
					</td>
					<td style="width: 200px;padding-bottom: 3rem">
						<div class="black-box">
							<div>
								<strong>Total Factura </strong>
							</div>
							<div>
								<strong>Total invoice </strong>
							</div>
							<div class="line"></div>
							<div>
								<strong>0.00 Eur</strong>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="width: 100%;text-align: center;font-size:14px">
		<div>
			<strong>
				MARILUZ TRAVEL TOUR S.L
			</strong>
		</div>
		<div>
			<span>
				CIF B-57595217
			</span>
		</div>
		<span>
			C/ Jaume III, 27 - Ent 2ª Despacho 18 - 19
		</span>
		<span>
			07012 Palma de Mallorca
		</span>
		<span>
			BALEARES España
		</span>
		<span>
			Tel:
		</span>
		<span>
			971 42 51 10
		</span>
		<div style="padding-top: 1rem;font-size:12px">
			<span>
				Registro Mercantil de Baleares, Folio 207, Tomo 2366,  Hoja PM-63134, Inscripción 1ª
			</span>
		</div>
	</div>
</div>
</body>
</html>