<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta content="summary_large_image" name="twitter:card" />
	<meta content="website" property="og:type" />
	<meta content="" property="og:description" />
	<meta content="https://w6j448c4v0.preview-postedstuff.com/V2-WIG1-HAeC-ZFwFV-MQhp/" property="og:url" />
	<meta content="https://pro-bee-beepro-thumbnail.getbee.io/messages/1144604/1130254/2103367/10842721_large.jpg" property="og:image" />
	<meta content="" property="og:title" />
	<meta content="" name="description" />
	<meta charset="utf-8" />
	<meta content="width=device-width" name="viewport" />
	<style>
		.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-11,
		body {
			background-color: #ffffff
		}

		body {
			color: #000000;
			font-family: Arial, Helvetica, sans-serif
		}

		.bee-page-container {
			background-image: none;
			background-position: top left;
			background-size: auto;
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-col-3 .bee-block-1 a,
		.bee-row-10 .bee-col-1 .bee-block-1 a,
		.bee-row-10 .bee-col-2 .bee-block-1 a,
		.bee-row-2 .bee-col-2 .bee-block-1 a,
		.bee-row-2 .bee-col-3 .bee-block-1 a,
		.bee-row-3 .bee-col-2 .bee-block-1 a,
		.bee-row-3 .bee-col-3 .bee-block-1 a,
		.bee-row-4 .bee-col-1 .bee-block-1 a,
		.bee-row-4 .bee-col-2 .bee-block-1 a,
		.bee-row-6 .bee-col-1 .bee-block-1 a,
		.bee-row-6 .bee-col-2 .bee-block-1 a,
		.bee-row-6 .bee-col-3 .bee-block-1 a,
		.bee-row-7 .bee-col-1 .bee-block-1 a,
		.bee-row-7 .bee-col-2 .bee-block-1 a,
		.bee-row-7 .bee-col-3 .bee-block-1 a,
		.bee-row-9 .bee-col-1 .bee-block-1 a,
		.bee-row-9 .bee-col-2 .bee-block-1 a,
		.bee-row-9 .bee-col-2 .bee-block-2 a,
		.bee-row-9 .bee-col-3 .bee-block-1 a,
		.bee-row-9 .bee-col-3 .bee-block-2 a,
		.bee-row-9 .bee-col-4 .bee-block-1 a,
		.bee-row-9 .bee-col-4 .bee-block-2 a,
		a {
			color: #7747FF
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 1280px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w2 {
			flex-basis: 17%
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w4 {
			flex-basis: 33%
		}

		.bee-row-content .bee-col-w6 {
			flex-basis: 50%
		}

		.bee-row-content .bee-col-w9 {
			flex-basis: 75%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center {
			margin: 0 auto
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			width: 100%
		}

		.bee-row-10 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-7 .bee-row-content,
		.bee-row-8 .bee-row-content,
		.bee-row-9 .bee-row-content {
			border-radius: 0;
			color: #000000;
			background-repeat: no-repeat
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-paragraph,
		.bee-text {
			overflow-wrap: anywhere
		}

		@media (max-width:768px) {
			.bee-row-content:not(.no_stack) {
				display: block
			}
		}

		.bee-row-1,
		.bee-row-10,
		.bee-row-2,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-8,
		.bee-row-9 {
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-row-content,
		.bee-row-11 .bee-row-content {
			background-repeat: no-repeat;
			color: #000000
		}

		.bee-row-1 .bee-col-1,
		.bee-row-1 .bee-col-2,
		.bee-row-1 .bee-col-3,
		.bee-row-10 .bee-col-1,
		.bee-row-10 .bee-col-2,
		.bee-row-11 .bee-col-1,
		.bee-row-2 .bee-col-1,
		.bee-row-2 .bee-col-2,
		.bee-row-2 .bee-col-3,
		.bee-row-5 .bee-col-1,
		.bee-row-7 .bee-col-1,
		.bee-row-7 .bee-col-2,
		.bee-row-7 .bee-col-3,
		.bee-row-8 .bee-col-1,
		.bee-row-9 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-1 .bee-col-2 .bee-block-1 {
			padding: 10px 10px 5px
		}

		.bee-row-1 .bee-col-2 .bee-block-2 {
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px
		}

		.bee-row-1 .bee-col-3 .bee-block-1,
		.bee-row-10 .bee-col-1 .bee-block-1,
		.bee-row-10 .bee-col-2 .bee-block-1,
		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-2 .bee-col-3 .bee-block-1,
		.bee-row-3 .bee-col-2 .bee-block-1,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-4 .bee-col-2 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-3 .bee-block-1,
		.bee-row-9 .bee-col-1 .bee-block-1,
		.bee-row-9 .bee-col-4 .bee-block-1 {
			padding: 10px
		}

		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content {
			border-bottom: 1px solid transparent;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			border-top: 1px solid transparent
		}

		.bee-row-3 .bee-col-1,
		.bee-row-3 .bee-col-3,
		.bee-row-4 .bee-col-1 {
			border-right: 3px solid #000000;
			border-top: 3px solid #000000;
			padding-bottom: 5px;
			display: flex;
			border-bottom: 3px solid #000000;
			border-left: 3px solid #000000
		}

		.bee-row-3 .bee-col-1,
		.bee-row-4 .bee-col-1 {
			padding-top: 15px;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-3 .bee-col-1 .bee-block-1 {
			text-align: center;
			width: 100%
		}

		.bee-row-3 .bee-col-2,
		.bee-row-4 .bee-col-2,
		.bee-row-4 .bee-col-3 {
			padding-bottom: 5px;
			padding-top: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-3 .bee-col-3 {
			padding-top: 5px;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-3 .bee-col-3 .bee-block-1 {
			padding: 5px
		}

		.bee-row-6 .bee-col-1 {
			border-bottom: 3px solid #000000;
			border-left: 3px solid #000000;
			border-right: 0px solid #000000;
			border-top: 3px solid #000000;
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-6 .bee-col-2,
		.bee-row-6 .bee-col-3 {
			border-bottom: 3px solid #000000;
			border-right: 3px solid #000000;
			border-top: 3px solid #000000;
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-6 .bee-col-2 {
			border-left: 3px solid #000000
		}

		.bee-row-6 .bee-col-3 {
			border-left: 0 solid #000000
		}

		.bee-row-9 .bee-col-2,
		.bee-row-9 .bee-col-4 {
			border-bottom: 4px solid #000000;
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-9 .bee-col-2 .bee-block-1,
		.bee-row-9 .bee-col-3 .bee-block-1 {
			padding: 10px 25px 10px 10px
		}

		.bee-row-9 .bee-col-2 .bee-block-2,
		.bee-row-9 .bee-col-3 .bee-block-2 {
			padding-left: 10px;
			padding-right: 25px
		}

		.bee-row-9 .bee-col-3 {
			border-bottom: 4px solid #000000;
			border-left: 0 solid #000000;
			border-right: 0px solid #000000;
			border-top: 0 solid #000000;
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-11 {
			background-repeat: no-repeat
		}

		.bee-row-11 .bee-col-1 .bee-block-1 {
			color: #1e0e4b;
			font-family: Inter, sans-serif;
			font-size: 15px;
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center
		}

		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-2 .bee-col-3 .bee-block-1,
		.bee-row-3 .bee-col-2 .bee-block-1,
		.bee-row-3 .bee-col-3 .bee-block-1,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-4 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-9 .bee-col-1 .bee-block-1 {
			color: #101112;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: left
		}

		.bee-row-2 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-2 .bee-col-3 .bee-block-1 p:not(:last-child) {
			margin-bottom: 6px
		}

		.bee-row-1 .bee-col-3 .bee-block-1 {
			color: #555555;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: left
		}

		.bee-row-1 .bee-col-3 .bee-block-1 p:not(:last-child),
		.bee-row-10 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-10 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-3 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-4 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-6 .bee-col-3 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-7 .bee-col-3 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-9 .bee-col-3 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-3 .bee-block-2 p:not(:last-child),
		.bee-row-9 .bee-col-4 .bee-block-2 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-3 .bee-col-3 .bee-block-1 p:not(:last-child) {
			margin-bottom: 0
		}

		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-9 .bee-col-4 .bee-block-1,
		.bee-row-9 .bee-col-4 .bee-block-2 {
			color: #101112;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.bee-row-4 .bee-col-1 .bee-block-1 p:not(:last-child) {
			margin-bottom: 4px
		}

		.bee-row-7 .bee-col-3 .bee-block-1 {
			color: #101112;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: right
		}

		.bee-row-9 .bee-col-2 .bee-block-1,
		.bee-row-9 .bee-col-2 .bee-block-2,
		.bee-row-9 .bee-col-3 .bee-block-1,
		.bee-row-9 .bee-col-3 .bee-block-2 {
			color: #101112;
			direction: ltr;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: right
		}

		.bee-row-10 .bee-col-1 .bee-block-1,
		.bee-row-10 .bee-col-2 .bee-block-1 {
			color: #101112;
			direction: ltr;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%
		}

		.bee-row-10 .bee-col-1 .bee-block-1 {
			text-align: left
		}

		.bee-row-9 .bee-col-4 .bee-block-1 p:not(:last-child) {
			margin-bottom: 2px
		}

		.bee-row-10 .bee-col-2 .bee-block-1 {
			text-align: center
		}

		.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}
	</style>
</head>

<body>
	<div class="bee-page-container">
		<div class="bee-row bee-row-1">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w4">
					<div class="bee-block bee-block-1 bee-image"><img alt="I'm an image" class="bee-fixedwidth" src="http://api.mariluz.hub2b.travel/media/logo-mariluz.jpg" style="max-width:234px;" /></div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w6">
					<div class="bee-block bee-block-1 bee-text">
						<div class="bee-text-content" style="line-height: 120%; font-size: 12px; font-family: inherit; color: #555555;">
							<p style="font-size: 13px; line-height: 15px; text-align: left;"><em style=""><strong style="">MARILUZ TRAVEL TOUR S.L</strong></em></p>
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-text">
						<div class="bee-text-content" style="line-height: 120%; font-size: 12px; font-family: inherit; color: #555555;">
							<p style="line-height: 14px;"><em style=""><strong style="">C/Jaume III, 27 - Ent 2º Despacho 18-19</strong></em></p>
							<p style="line-height: 14px;"><em style=""><strong style="">07012 Palma de Mallorca</strong></em></p>
							<p style="line-height: 14px;"><em style=""><strong style="">BALEARES España</strong></em></p>
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w2">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong><em>C.I.F.</em></strong></p>
						<p><strong><em>B-57595217</em></strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-2">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w4"></div>
				<div class="bee-col bee-col-2 bee-col-w4">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong><em>Tel:</em></strong></p>
						<p><strong><em>971 42 51 10</em></strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w4">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong><em>Fax:</em></strong></p>
						<p><strong><em>971 72 61 10</em></strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-3">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-heading">
						<h1 style="color:#000000;direction:ltr;font-family:Arial, Helvetica, sans-serif;font-size:38px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;"><em><strong><span class="tinyMce-placeholder">FACTURA</span></strong></em> </h1>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>C.I.F.</p>
						<p>B09809492</p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w6">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>JOYFER JARDINES S.L</strong></p>
						<p> </p>
						<p><strong>C/ Son muntaner 71 bajos</strong></p>
						<p><strong>07013 Palma de Mallorca</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-4">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>Número / Number      <strong>24A0031609/1</strong></p>
						<p>Fecha / Date              <strong>14/03/2024</strong></p>
						<p>Expediente / File        <strong>00034702</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>Código / Code</p>
						<p><strong>43000000000</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w6"></div>
			</div>
		</div>
		<div class="bee-row bee-row-5">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="center bee-separator" style="border-top:1px solid #dddddd;width:100%;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-6">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>Fecha / Date</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w6">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>Concepto / Concept</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>Importe / Amount</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-7">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>29/03/2024 - 31/03/2024</p>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w6">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>OFERTA POLLENSA PARK 4*</p>
						<p>4ADU<br />  Pax. FELIX CAMARA Rég. TI</p>
						<p>    4 Pax TI/Al    x    80.00 x  2d. =     640,00</p>
						<p><strong>Régimen Especial de las Agencias de Viajes ( Impuestos no deducibles)</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>640.00</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-8">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-spacer">
						<div class="spacer" style="height:400px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-9">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>CAIXA BANK IBAN</p>
						<p>ES 18 2100 8122 8313 0049 0357</p>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>Importe Prepagado / Pre-Paid Amount</p>
					</div>
					<div class="bee-block bee-block-2 bee-paragraph">
						<p>640.00</p>
					</div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>Pendiente Cobro / Balance Due</strong></p>
					</div>
					<div class="bee-block bee-block-2 bee-paragraph">
						<p><strong>00.00</strong></p>
					</div>
				</div>
				<div class="bee-col bee-col-4 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p><strong>Total Factura / </strong><strong>Total Invoice</strong></p>
					</div>
					<div class="bee-block bee-block-2 bee-paragraph">
						<p><strong>640.00</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-10">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>Forma de Pago / Payment</p>
						<p>Transferencia</p>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w9">
					<div class="bee-block bee-block-1 bee-paragraph">
						<p>Registro Mercantil de Baleares, Folio 207, Tomo 2366, Hoja PM-63134, Inscripción 1ª</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-11">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-icons">
						<div class="bee-icon bee-icon-last">
							<div class="bee-content">
								<div class="bee-icon-image"><a href="http://designedwithbeefree.com/" target="_blank" title="Designed with Beefree"><img alt="Beefree Logo" height="32px" src="https://d1oco4z2z1fhwp.cloudfront.net/assets/Beefree-logo.png" width="auto" /></a></div>
								<div class="bee-icon-label bee-icon-label-right"><a href="http://designedwithbeefree.com/" target="_blank" title="Designed with Beefree">Designed with Beefree</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>