{% extends "document/base_pdf.html.twig" %}

{% block body %}
<div class="container main-container">
	<div class="content">
		<table>
			<tbody>
				<tr>
					<td colspan="2">
						<div>
							<img src="https://api.mariluz.hub2b.travel/media/logo-mariluz.png">
						</div>
					</td>
					<td colspan="2">
						<div>
							<strong>
								MARILUZ TRAVEL TOUR S.L
							</strong>
							<span>
								C/ Jaume III, 27 - Ent 2ª Despacho 18 - 19
							</span>
							<span>
								07012 Palma de Mallorca
							</span>
							<span>
								BALEARES España
							</span>
							<div style="width:50%">
								<span>
									Tel:
								</span>
								<span>
									971 42 51 10
								</span>
							</div>
							<div style="width:50%">
								<span>
									Fax:
								</span>
								<span>
									971 72 61 60
								</span>
							</div>
						</div>
					</td>
					<td>
						<div>
							<span>
								C.I.F.
							</span>
							<span>
								B-57595217
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}