{% extends "document/base_pdf.html.twig" %}

{% block body %}
<div class="container main-container">
	<div class="content">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="group-table">
			<thead>
				<tr>
					<th colspan="2">{% trans %}Información de grupo{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="table-subheading">{% trans %}Nombre grupo{% endtrans %}:</span>
					</td>
					<td><span class="table-subheading">{% trans %}Importe inscripción grupo{% endtrans %}:</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<img width=100% src="" alt="" />
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody class="enrollments">
											<tr>
												<h5>TEST</h5>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</tr>
				<tr>
					<th>Información de los inscritos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody class="enrollments">
								<tr>
									<td width="90px">
									</td>
									<td height="50px">TEST</td>
									<td><span class="table-subheading">{% trans %}Dorsal{% endtrans %}:</span></td>
									<td><span class="table-subheading">{% trans %}Tarifa{% endtrans %}:</span></td>
									<td><span class="table-subheading">{% trans %}Importe{% endtrans %}:</span></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="container main-container">
	<div class="content">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>TEST</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody class="enrollments">
								<tr>
									<td width="90px">
									</td>
									<td height="50px">TEST</td>
									<td><span class="table-subheading">{% trans %}Dorsal{% endtrans %}:</span></td>
									<td><span class="table-subheading">{% trans %}Tarifa{% endtrans %}:</span></td>
									<td><span class="table-subheading">{% trans %}Importe{% endtrans %}:</span></td>

								</tr>
								<tr>
									<td colspan="4" height="50px"><span class="table-subheading">{% trans %}Grupo{%
											endtrans %}:</span>TEST</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}