<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEST</title>
</head>

<style>

	html,body {
        height: 100%;
        margin: 0;
    }

	tr.spaceUnder>td {
		padding-bottom: 1em;
	}

	.shadow {
		border: 2px solid black;
		box-shadow: rgb(0, 0, 0) 5px 5px;
	}

	.divisor {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid #000;
	}

	.content {
		height: 1254px;
	}

</style>
<body>

<div id="container">
	<div class="content">
		<table width="100%";>
			<tbody>
				<tr class="spaceUnder">
					<td colspan="3" style="text-align: center">
						<img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-mariluz.png" alt="logo" style="width: 250px;">
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div>
							<h1>Bono estancia</h1>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="divisor"></div>
					</td>
				</tr>
				<tr class="spaceUnder">
					<td colspan="2">
						<div style="margin-bottom:1rem">
							Emitido para / Issued For
						</div>
						<div>
							<strong>{{hotel.title}}</strong>
						</div>
						<div>
							<span>Passeig de Bateman, s/n</span>
						</div>
						<div>
							<span>07408 PLAYA DE MURO</span>
						</div>
						<div>
							<span>BALEARES España</span>
						</div>
						<span>
							Tel:
						</span>
						<span>
							971 89 25 05
						</span>
					</td>
					<td>
						<div>
							<span>Expediente / File</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>00013855</strong>
						</div>
						<div>
							<span>Fecha Emisión / Issue Date</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>27/02/2015</strong>
						</div>
						<div>
							<span>Pagadero por / To be Paid By</span>
						</div>
						<div>
							<strong>{{to_be_paid_by}}</strong>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="divisor"></div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div style="margin-bottom:.5rem">
							<span>Clientes: </span>
							<strong>ANTONI REUS</strong>
						</div>
						<div>
							<span>Rogamos presten los siguientes servicios al titular del presente bono:</span>
						</div>
						<div style="margin-bottom:.5rem">
							<strong>OFERTA 2015 VIVA BLUE</strong>
						</div>
						<div>
							<span>Régimen:</span>
							<strong>PC</strong>
						</div>
						</div>
							<strong>1</strong>
							<span>Dobles</span>
						</div>
					</td>
					<td>
						<div style="margin-bottom:.5rem">
							<span>Personas: </span>
							<span>2</span>
						</div>
						<div style="margin-bottom:.5rem">
							<span>Llegada: </span>
							<strong>28/02/2015</strong>
						</div>
						<div style="margin-bottom:.5rem">
							<span>Salida: </span>
							<strong>01/03/2015</strong>
						</div>
						<div>
							<span>Servicio: </span>
							<strong>0001</strong>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div style="margin-top:2rem;border-bottom: 1px solid black">
							<span>Observaciones / Remarks</span>
						</div>
						<div style="margin-top:1rem">
							<span>PC + Agua y vino bebe</span>
						</div>
					</td>
				</tr>
				{# <tr style="margin-top:auto">
					<td style="height:100% !important" colspan="3">
						<div style="position:absolute;bottom:0;left:0;display:flex;justify-content:center">
							<span>
								C/ Jaume III, 27 - Ent 2ª Despacho 18 - 19
							</span>
							<span>
								07012 Palma de Mallorca
							</span>
							<span>
								BALEARES España
							</span>
							<span>
								Tel:
							</span>
							<span>
								971 42 51 10
							</span>
						</div>
					</td>
				</tr> #}
			</tbody>
		</table>
	</div>
	<div style="width: 100%;text-align: center;font-size:14px">
		<div>
			<strong>
				MARILUZ TRAVEL TOUR S.L
			</strong>
		</div>
		<div>
			<span>
				CIF B-57595217
			</span>
		</div>
		<span>
			C/ Jaume III, 27 - Ent 2ª Despacho 18 - 19
		</span>
		<span>
			07012 Palma de Mallorca
		</span>
		<span>
			BALEARES España
		</span>
		<span>
			Tel:
		</span>
		<span>
			971 42 51 10
		</span>
	</div>
</div>
</body>
</html>