<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900"
        rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #FAF4E8">
    <div class="content" style="padding-top: 50px;font-size: 16px">
        <table width="100%" style="max-width: 595px;margin: 0 auto;">
            <tbody>
                <tr class="spaceUnder">
                    <td colspan="3" style="text-align: center;padding-bottom: 50px">
                        <img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-25.png" alt="logo"
                            style="width: 220px;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 40px">
                        <img class="logo" src="http://api.mariluz.hub2b.travel/media/documents.png" alt="logo"
                        style="width: 545px;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 16px">
                        <span style="font-family: 'Playfair Display';font-weight: bold;font-size: 30px;color: #73B499">
                            Hola {{name}},
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 63px">
						<span style="font-family: 'Playfair Display';font-size: 30px;color: #73B499">
                            sabemos que es complicado, pero es <span style="font-weight: bold;">inevitable.</span> A veces llueve durante las vacaciones, hay retrasos en los vuelos o se cancelan las reservas por operativa.
                            Hemos hecho todo lo posible para que pudieras disfrutar de tu selección, pero desgraciadamente <span style="font-weight: bold;text-decoration: underline;">ha sido cancelada.</span>
                            Esperamos poder acompañarte muy pronto en la elección de un nuevo servicio<br><br>
                            Mariluz
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="background-color: #73B499;padding-top: 55px;padding-bottom: 58px">
        <div style="max-width: 565px; margin: 0 auto;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
                <tbody>
                    <tr>
                        <td style="text-align:center;padding-bottom: 18px;">
                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-34.png"
                                alt="Logo Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
                                class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;font-size: 22px;">
                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-43-12.png"
                                alt="Cerca de ti." style="border:0px;text-decoration:none" class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 24px;padding-bottom: 18px;">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;">
                            <div style="max-width: 333px;margin: 0 auto;">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-39-45.png"
                                                alt="Day Pass" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-40-44.png"
                                                alt="Escapadas" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-19.png"
                                                alt="Experiencias" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                        <td style="text-align:center;color: #FAF4E8;">
                                            <img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-59.png"
                                                alt="Hoteles" border="0" style="border:0px;text-decoration:none;"
                                                class="ui-droppable">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 24px;padding-top: 18px;">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="border-width:0px;max-width:700px;height:auto;text-align:center;padding-bottom: 26px;">
                            <a href="https://www.facebook.com/mariluztravel" style="text-decoration:none;"
                                title="Visita nuestra página Facebook"><img
                                    src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-35-43.png"
                                    alt="Facebook Mariluz Travel" border="0"
                                    style="border:0px;text-decoration:none;padding-right: 24px;"
                                    class="ui-droppable"></a>
                            <a href="https://www.instagram.com/mariluz.travel" style="text-decoration:none;"
                                title="Visita nuestra página Instagram"><img
                                    src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-06.png"
                                    alt="Intagram Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
                                    class="ui-droppable"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color: #FAF4E8;font-size: 12px">
                            <img src="https://tbc-28999.r1-it.storage.cloud.it/2024-06-11-10-46-41.png"
                                alt="Copyright & Dirección"
                                style="border:0px;text-decoration:none;padding-right: 24px;width: 100%;"
                                class="ui-droppable">
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="padding-bottom: 23px;border-width:0px;max-width:700px;height:auto;text-align:center;color: #FAF4E8;">
                            <span
                                style="font-weight: bold;text-decoration: underline;font-size: 12px;font-family: 'Roboto';">Términos
                                y condiciones</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">La información que
                                contiene este mensaje y/o sus archivo(s) adjunto(s), enviada desde
                                MARILUZ TRAVEL TOUR SL, es confidencial/privilegiada y está destinada a ser leída sólo
                                por la(s) persona(s) a la(s) que va dirigida: tú y solo tú.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">Para facilitar la
                                comunicación contigo, te recordamos que tus datos han sido incorporados en el sistema de
                                tratamiento de MARILUZ TRAVEL TOUR SL y que siempre y cuando se cumplan los requisitos
                                exigidos por la normativa, podrás ejercer tus derechos de acceso, rectificación,
                                limitación de tratamiento, supresión, portabilidad y oposición/revocación, en los
                                términos que establece la normativa vigente en materia de protección de datos,
                                dirigiendo tu petición a la dirección postal Parc Bit Edificio U, Local 11 07121, PALMA
                                DE MALLORCA (ILLES BALEARS) o bien a través de nuestro correo electrónico
                                reservas@mariluztravel.es </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 16px;">
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">La experiencia de 15 años
                                creando y vendiendo escapadas nos dice que, igual que te has interesado ya por alguna de
                                nuestras ofertas, pueden interesarte otras, así que siempre que tengamos algo que pueda
                                encajarte (escapadas, promociones, ofertas, day pass…), te lo enviaremos.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 12px;font-family: 'Roboto';color: #FAF4E8">Si has recibido este
                                mensaje y no eres su destinatario, un empleado o un agente responsable de reenviarlo,
                                sin duda lo has recibido por error, así que divulgarlo, distribuirlo o reproducirlo es
                                ilegal. Avísanos devolviendo el mensaje al correo de envío y nosotros lo
                                solucionaremos.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>