<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<title></title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/>
<style>

</style>
</head>
<body>
    <div class="content" style="padding-top: 50px;">
		<table width="100%" style="max-width: 595px;margin: 0 auto;">
			<tbody>
				<tr class="spaceUnder">
					<td colspan="3" style="text-align: center;padding-bottom: 39px">
						<img class="logo" src="http://api.mariluz.hub2b.travel/media/logo-25.png" alt="logo" style="width: 220px;">
					</td>
				</tr>
				<tr>
					<td style="text-align:center">
						<span style="font-family: 'Playfair Display';font-size: 30px;color: #73B499">
							Hola Pepe Jiménez García,
						</span>
					</td>
				</tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 20px">
                        <span style="font-family: 'Playfair Display';font-size: 20px;color: #73B499">
                            ¡ya estás un poco más cerca de escapar cerca!
                        </span>
                    </td>
                </tr>
				<tr>
					<td style="text-align:center;padding-bottom: 36px;">
						<span style="font-family: 'Playfair Display';font-size: 20px;color: #73B499">
                            Aquí tienes los datos más importantes de tu reserva:
                        </span>
					</td>
				</tr>
                <tr>
                    <td style="padding-bottom: 53px">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td style="height:100px;width: 50%">
                                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                                <span style="font-weight: bold;color:#fff">Datos contacto:</span>
                                            </div>
                                            <div style="height: 107px;background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #73B499">Nombre:</span>
                                                    <span style="font-weight: bold;color: #8B8B8B;">Vicenç Prueba</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #73B499">Hotel:</span>
                                                    <span style="font-weight: bold;color: #8B8B8B">Parque Nereida Suites Hotel</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height:100px;width: 50%;">
                                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                                <span style="font-weight: bold;color:#fff">Detalles de la reserva:</span>
                                            </div>
                                            <div style="height: 107px;background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #73B499">Cód. reserva:</span>
                                                    <span style="font-weight: bold;color: #8B8B8B;">32</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #73B499">Fecha reserva:</span>
                                                    <span style="font-weight: bold;color: #8B8B8B">13-02-2024</span>
                                                </div>
                                                <div style="padding-bottom: .5rem;">
                                                    <span style="font-weight: bold;color: #73B499">Método de pago.:</span>
                                                    <span style="font-weight: bold;color: #8B8B8B">creditCard</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <span style="font-family: 'Playfair Display';font-size: 20px;font-family: 'Playfair Display';color:#73b499">
                            Tu reserva del 12/02/2024 al 13/02/2024:
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 20px;">
                        <span style="font-family: 'Playfair Display';font-size: 20px;font-family: 'Playfair Display';color:#73b499">
                            Hotel El Palace Barcelona
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px;">
                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                <span style="font-weight: bold;color:#fff">Habitación 1:</span>
                            </div>
                            <div style="background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Tipo de habitación:</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">Suite</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Adultos</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">2</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Niños</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">0</span>
                                </div>
                                <div>
                                    <span style="font-weight: bold;color: #73B499">Bebés</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">0</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px;">
                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                <span style="font-weight: bold;color:#fff">Habitación 2:</span>
                            </div>
                            <div style="background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Tipo de habitación:</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">Doble</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Adultos</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">2</span>
                                </div>
                                <div style="padding-bottom: .5rem;">
                                    <span style="font-weight: bold;color: #73B499">Niños</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">0</span>
                                </div>
                                <div>
                                    <span style="font-weight: bold;color: #73B499">Bebés</span>
                                    <span style="font-weight: bold;color: #8B8B8B;">0</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: 'Roboto Condensed';text-align: end">
                        <span style="color: #FF926F;font-size: 14px;">Total:</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 55px;font-family: 'Roboto';font-weight: 900;text-align: end">
                        <span style="color: #FF926F;font-size: 30px;">1.340 €</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom: 20px;font-family: 'Playfair Display'">
                        <span style="color: #73B499;font-size: 20px;">Y aquí tienes los nuestros para poder efectuar el pago:</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px;">
                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                <span style="font-weight: bold;color:#fff">Transferencia:</span>
                            </div>
                            <div style="height: 82px;background-color: #F4F3F2;padding: 15px 20px 17px 20px;">
                                <div style="padding-bottom: 1rem;">
                                    <span style="font-weight: bold;color: #8B8B8B">Nº cuenta Caixa Bank: ES18 2100 8122 8313 0049 0357</span>
                                </div>
                                <div>
                                    <span style="font-weight: bold;color: #8B8B8B">Acuérdate de indicar tu número de reserva 34393 en el concepto del ingreso y de realizar un pago único por reserva.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 54px;">
                        <div class="table" style="height:100%;width:100%;font-family: 'Roboto'">
                            <div class="table-header" style="color: #fff;background-color: #73B499;padding: 8px 20px;">
                                <span style="font-weight: bold;color:#fff">Pago telefónico con tarjeta:</span>
                            </div>
                            <div style="height: 26px;background-color: #F4F3F2;padding: 15px 20px 10px 20px;">
                                <div style="padding-bottom: 1rem;">
                                    <span style="font-weight: bold;color: #8B8B8B">Llamando al: 971 425 110</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 14px;font-family: 'Playfair Display'">
                        <span style="color: #73B499;font-size: 20px;">Algunas cosas importantes:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #73B499">Tasas locales:</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 1rem;">
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">A veces, las reservas pueden estar sujetas a impuestos y/o tasas locales que no están incluidas en el precio porque no se gestionan a través de Mariluz.
                                Estas tasas son obligatorias, pueden variar y tendrás que abonarlas directamente en el establecimiento.
                                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #73B499">Anulación reserva:</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 54px;">
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Nunca, nunca, nunca anularemos tu reserva sin haber hablado contigo, así que te agradecemos que, en el caso de necesitar cancelarla, nos lo comuniques lo antes posible. Así, evitarás los gastos de cancelación asociados y liberarás tus plazas para que otros puedan disfrutarlas.</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 14px;font-family: 'Playfair Display'">
                        <span style="color: #73B499;font-size: 20px;">¡Recuerda llevar protección solar y… llama al llegar!</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 1rem;">
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Nos encantará recibir una nota de voz con tu opinión sobre la estancia, el hotel, el bufé de desayuno, las almohadas de la cama, las toallas… ¡o lo que quieras contarnos!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 54px;">
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Puedes hacerlo al whatsapp de Mariluz: 633 574 411</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 14px;font-family: 'Playfair Display'">
                        <span style="color: #73B499;font-size: 20px;">Gracias por no-viajar con nosotros,</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Dpto. Reservas</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Mariluz Travel</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Parc Bit</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Edificio U, Local 11</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">07121 Palma de Mallorca</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 85px;">
                        <div>
                            <span style="font-family: 'Roboto';font-weight: bold;color: #8B8B8B;">Tel. 971 42 51 10</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div style="background-color: #73B499;padding-top: 55px;padding-bottom: 58px">
		<div style="max-width: 565px; margin: 0 auto;">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="text-align:center;padding-bottom: 18px;">
							<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-34.png"
								alt="Logo Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
								class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;font-size: 22px;">
							<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-43-12.png" alt="Cerca de ti."
								style="border:0px;text-decoration:none" class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="padding-top: 24px;padding-bottom: 18px;">
							<hr>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;">
							<div style="max-width: 333px;margin: 0 auto;">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tr>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-39-45.png"
												alt="Day Pass" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-40-44.png"
												alt="Escapadas" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-19.png"
												alt="Experiencias" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
										<td style="text-align:center;color: #FAF4E8;">
											<img src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-12-41-59.png"
												alt="Hoteles" border="0" style="border:0px;text-decoration:none;"
												class="ui-droppable">
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 24px;padding-top: 18px;">
							<hr>
						</td>
					</tr>
					<tr>
						<td style="border-width:0px;max-width:700px;height:auto;text-align:center;padding-bottom: 26px;">
							<a href="https://www.facebook.com/mariluztravel" style="text-decoration:none;"
								title="Visita nuestra página Facebook"><img
									src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-35-43.png"
									alt="Facebook Mariluz Travel" border="0"
									style="border:0px;text-decoration:none;padding-right: 24px;" class="ui-droppable"></a>
							<a href="https://www.instagram.com/mariluz.travel" style="text-decoration:none;"
								title="Visita nuestra página Instagram"><img
									src="https://tbc-40009.r1-it.storage.cloud.it/2024-06-10-10-37-06.png"
									alt="Intagram Mariluz Travel" border="0" style="border:0px;text-decoration:none;"
									class="ui-droppable"></a>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;color: #FAF4E8;font-size: 12px">
							<img src="https://tbc-28999.r1-it.storage.cloud.it/2024-06-11-10-46-41.png"
								alt="Copyright & Dirección" style="border:0px;text-decoration:none;padding-right: 24px;width: 100%;"
								class="ui-droppable">
						</td>
					</tr>
					<tr>
						<td style="border-width:0px;max-width:700px;height:auto;text-align:center;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>