<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<title></title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
		<!--[if !mso]><!-->
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/> <link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css"/>
	<!--<![endif]-->
	</head>
	<body>
		<div class="content" style="padding-top: 50px;">
			<table width="100%" style="max-width: 595px;margin: 0 auto;">
				<tbody>
					<tr class="spaceUnder">
						<td colspan="3" style="text-align: center;padding-bottom: 39px">
							<img class="logo" src="	https://api.jardinesalfabia.hub2b.travel/media/6645d4573e4dd_654d121807d89464959800.jpeg" alt="logo" style="width: 220px;">
						</td>
					</tr>
					<tr>
						<td style="text-align:center;padding-bottom: 20px">
							<span style="font-size: 30px;font-family: 'Playfair Display';color:#668c0c">
								¡Hola!
							</span>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;padding-bottom: 36px;">
							<span style="font-size: 18px;font-family: 'Playfair Display';color:#668c0c">
								Hemos recibido tu reserva, aquí te dejamos el QR para que al llegar a los Jardines puedas escanearlo e imprimir tus entradas.
							</span>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 39px">
							<div class="table" style="font-family: 'Roboto'">
								<div class="table-header" style="color: #fff;background-color: #668c0c;padding: 8px 20px;">
									<span style="font-weight: bold;color:#fff">Esta es tu solicitud:</span>
								</div>
								<div style="background-color: #F4F3F2;padding: 15px 20px 24px 20px;">
									<div style="padding-bottom: .5rem;">
										<span class="green bold">Nombre:</span>
										<span class="gray bold">{{name}}</span>
									</div>
									
									<div style="padding-bottom: .5rem;">
										<img src="cid:qrcode">
									</div>
									<div style="padding-bottom: .5rem;">
										<span class="green bold">E-mail:</span>
										<span class="gray bold">{{userEmail}}</span>
									</div>
									
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;padding-bottom: 77px;">
							<span style="font-size: 18px;font-family: 'Playfair Display';color:#668c0c">
								¡Gracias por reservar en Jardines de Alfabia!
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>
